html
    head
        link(rel='stylesheet' href='style.css')
    h1 Hi
    img.image(src=require("/"+{{ img }}))
    h2 {{ ppl.name }}
    h3 {{ ppl.Bio }}
    h3 Branch: {{ ppl.Branch }}
    h3 Graduating Year: {{ ppl.Year }}