﻿﻿﻿div.gallery
{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.img
{
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery:hover
{
    border: 1px solid #777;
    background-color: #ccc;
}

div.desc
{
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-top: 100px;
    margin-botton: 0px;
}

body
{
    font-family: "Verdana";
    padding: 30px;
    background-color: #fff;
}



#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555566;
    border-radius: 3px;
}

#navbar li
{
    float: left;
}

#navbar li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a.logout:hover
{
    background-color: #d5b75d;
}

#navbar li a:hover
{
    background-color: #454556;
}

#navbar .active:hover
{
    background-color: #4680b9;
}

#navbar .active
{
    background-color: #598cc0;
}

#navbar .lo
{
    text-align: right;
    float: right;
}

#navbar .logout
{
    display: block;
    text-align: center;
    background-color: #c0a659;
}

.footer
{
    position: absolute;
    clear: both;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    overflow: hidden;
    margin: auto;
}

html
{
    position: relative;
    min-height: 100%;
}

#newt
{
    color: black;
    text-align: right;
    float: right;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0;
    background-color: #598cc0;
    border-radius: 3px;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

.body
{
    min-height: 700px;
    margin-bottom: 100px;
    clear: both;
}

#newt:hover
{
    background-color: #454556;
}

table, th, td
{
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
}

th
{
    height: 45px;
}

#nameth
{
    width: 25%;
}

#yearth
{
    width: 15%;
}

#branchth
{
    width: 20%;
}

#adminth
{
    width: 25%px;
}

tr:nth-of-type(odd)
{
    background-color: #f9f9f9;
}

tr:nth-of-type(even)
{
    background-color: #ebebeb;
}

#vlist tr:hover
{
    background-color: #c3c3c3;
}

.btn
{
    color: white;
    background-color: #598cc0;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
}

.btn:hover
{
    background-color: #4680b9;
}

#admin
{
    color: black;
    padding: 5px;
    background-color: #e3e3e3;
    text-decoration: none;
}

#admin:hover
{
    background-color: #c3c3c3;
}

input
{
    width: 50%;
    font-family: "Verdana";
}

select
{
    width: 300px;
}

textarea
{
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: "Verdana";
    font-size: 85%;
    width: 50%;
    height: 35vh;
}

input[type=text], input[type=password], select
{
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #cccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 25%;
    font-family: "Verdana";
}

input[type=checkbox]
{
    width: 10px;
}

.formbtn, input[type=submit]
{
    background-color: #598cc0;
    border-radius: 3px;
    font-size: 115%;
    border: 1px solid #ccc;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 40px;;
    margin-top: 10px;
    font-family: "Verdana";
    width: 25%;
}

.formbtn:hover
{
    background-color: #4680b9;
}

input[type=dropdown]
{
    width: 25%;
}

input[type=file]
{
    display: none;
}

.custom-file-upload
{
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover
{
    background-color: #ddd;
    border: 1px solid #ddd;
}

#holder
{
    border: 5px dashed #ccc;
    width: 300px;
    min-height: 300px;
    margin: 20px auto;
    margin-left: 0px;
}

#holder.hover
{
    border: 5px dashed #0c0;
}

.btn-file
{
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file]
{
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload
{
    width: 100%
}

.modalDialog, .vetDialog, .newDialog
{
    position: fixed;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    display: none;
}

.modalDialog:target, .vetDialog:target, .newDialog:target
{
    opacity: 1;
    display: inline;
    pointer-events: auto;
}

.modalDialog > div
{
	width: 320px;
    height: 320px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 1px;
	background: #fff;
    text-align: center;
}

.vetDialog > div
{
    max-width: 800px;
    width: 50%;
    height: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
}

.newDialog > div
{
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 1px;
    background: #fff;
    text-align: center;
}

.modalContent
{
	width: 50%;
    height: 750px;
    max-width: 800px;
    max-height: calc(100vh - 250px);
	position: fixed;
	background: #fff;
	overflow: auto; /*sets the text content of the modal dialog to scroll if needed*/
}

.modalOtherContent
{
    text-align: center;
}

.modalWrapper
{
    text-align: center;
    background-color: #f3f3f3;
    position: fixed;
    margin: 41% auto;
    height: 750px;
    padding: 5px 20px 13px 20px;
    border-radius: 3px;
    max-height: calc(100vh - 250px);
}

.modalOtherWrapper
{
    text-align: center;
    background-color: #f3f3f3;
    position: fixed;
    padding: 5px 20px 13px 20px;
    border-radius: 3px;
}

.close
{
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 24px;
    padding-left: 10px;
    padding-right: 10px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.close:hover { background: #00d9ff; }

img
{
    max-width: 75%;
    size: auto;
}

.container
{
    text-align: center;
    padding: 15px;
}

.left-div
{
    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 30px;
    background-color: #ddd;
    border-radius: 3px;
    margin: 15px;
    padding-top: 5px;
    vertical-align: top;
}

.right-div
{
    display: inline-block;
    max-width: 300px;
    text-align: left;
    padding: 30px;
    padding-top: 5px;
    background-color: #ddd;
    border-radius: 3px;
    margin: 15px;
}

.left-text, .right-text
{
    font: 16px 'Verdana', monospace;
        color: #000;
}

@media.screen and (max-width: 600px)
{
    .left-div, .right-div
    {
        max-width: 100%;
    }
}
