﻿﻿﻿div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.img {
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.gallery:hover {
    border: 1px solid #777;
    background-color: #ccc;
}

div.desc {
    width: 200px;
    margin: 20px;
    text-align: center;
}

body {
    font-family: "Verdana";
    padding: 30px;
    background-color: #fff;
}



#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555566;
    border-radius: 3px;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a.logout:hover {
    background-color: #d5b75d;
}

#navbar li a:hover {
    background-color: #454556;
}

#navbar .active:hover {
    background-color: #4680b9;
}

#navbar .active {
    background-color: #598cc0;
}

#navbar .lo {
    text-align: right;
    float: right;
}

#navbar .logout {
    display: block;
    text-align: center;
    background-color: #c0a659;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

#newt {
    color: black;
    text-align: right;
    float: right;
    padding: 10px;
    margin-top: 20px;
    background-color: #e3e3e3;
    border-radius: 3px;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

#newt:hover {
    color: black;
    text-align: right;
    float: right;
    padding: 10px;
    margin-top: 20px;
    background-color: #c3c3c3;
    border-radius: 3px;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

table, th, td {
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    padding: 15px;
}

tr:nth-of-type(odd) {
    background-color: #eeeee;
}

tr:nth-of-type(even) {
    background-color: #ebebeb;
}

#vlist tr:hover {
    background-color: #c3c3c3;
}

.btn {
    color: white;
    background-color: #598cc0;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
}

.btn:hover {
    background-color: #4680b9;
}

#admin {
    color: black;
    padding: 5px;
    background-color: #e3e3e3;
    text-decoration: none;
}

#admin:hover {
    background-color: #c3c3c3;
}\

input {
    width: 300px;
}

select {
    width: 300px;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=text], select {
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #cccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 300px;
}

input[type=submit] {
    background-color: #598cc0;
    border-radius: 3px;
    font-size: 120%;
    border: 1px solid #ccc;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 12px;;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #4680b9;
}

input[type=file] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}

#holder {
    border: 5px dashed #ccc;
    width: 300px;
    min-height: 300px;
    margin: 20px auto;
    margin-left: 0px;
}

#holder.hover {
    border: 5px dashed #0c0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%
}
