<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
<nav id="navbar">
    <ul>
        <li><a href="/" {% if request.path=='/home/' %} class="active" {% endif %}>Featured</a></li>
        <li><a href="/vets/" {% if request.path=='/vets/' %} class="active" {% endif %}>List</a></li>
        {% if session['logged_in'] %}
        <li><a href="/admin/edit/" {% if request.path=='/admin/edit/' %} class="active" {% endif %}>Edit</a></li>
        <li class="lo"><a class="logout" href="/admin/logout/">Log Out</a></li>
        {% endif %}
    </ul>
</nav>
<div id="content">
    <div class="body">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <div style="text-align: left; float: left;">
            <a id="admin" href="#openAboutModal">About</a>
        </div>
        <div id="openAboutModal" class="modalDialog" style="text-align: center;">
            <div id="modalOtherWrapper">
                <a href="#closeAbout" title="Close" class="close">X</a>
                <div id="modalContent" class="modalOtherContent">
                    <h2>Veteran Viewer</h2>
                    <p>Featuring veterans that graduated from River Falls High School.
                         <br><br><br>This app was created in 2017 by Zachary Petersen, graduating class of 2019</p>
                </div>
            </div>
        </div>
        {% if session['logged_in'] %}
        <div style="text-align: right;"><a id="admin" href="/admin/logout/">Log Out</a></div>
        {% else %}
        <div style="text-align: right;">
            <a id="admin" href="#openModal">Admin</a>
        </div>
        <div id="openModal" class="modalDialog" style="text-align: center;">
            <div id="modalOtherWrapper">
                <a href="#closeModal" title="Close" class="close">X</a><br>
                 <div id="modalContent" class="modalOtherContent" style="text-align: center;">
                    <h2>Log In</h2>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}<p style="padding: 5px; color: red; border: 1px solid red; border-radius: 3px;">{{ message }}</p>{% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form {% if request.path == '/home/' %} action="/home/" {% else %} action="/vets/" {% endif %} method="POST" id="loginform">
                        <br><input style="width: 300px;" type="text" name="uname" placeholder="username"><br>
                        <br><input style="width: 300px;" type="password" name="pword" placeholder="password"><br>
                        <br><input style="width: 300px;" type="submit" class="formbtn" value="Log In">
                    </form><br>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
