<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="/admin/edit/save/{{ ppl._id }}" method="post">
    Name:<br>
    <input type="text" name="name" value="{{ ppl.name }}"><br>
    Biography:<br>
    <textarea name="bio" rows="10" cols="30">{{ ppl.bio }}</textarea><br>
    <select name="branch">
        {% for branch in branches %}
        {% if ppl.branch == branch %}
        <option value="{{ branch }}" selected>{{ branch }}</option>
        {% else %}
        <option value="{{ branch }}">{{ branch }}</option>
        {% endif %}
        {% endfor %}
    </select><br>
    <select name="year">
        {% for yr in yrs %}
        {% if ppl.year == yr %}
        <option value="{{ yr }}" selected>{{ yr }}</option>
        {% else %}
        <option value="{{ yr }}">{{ yr }}</option>
        {% endif %}
        {% endfor %}
    </select><br>
    {% if ppl.featured %}
    <input type="checkbox" id="featured" name="feat" checked>
    {% else %}
    <input type="checkbox" id="featured" name="feat">
    {% endif %}
    <label for="featured">Featured</label><br>
    <input type="submit" value="Submit">
</form>
<a href="/admin/edit/">Back</a>
</body>
</html>