{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"><title>Home</title>{% endblock %}
{% block content %}
<h1>Featured</h1>
{% if (ppl is defined) and ppl %}
{% for vet in ppl %}
<div class="gallery" style="display: inline-block; margin: 5px; border: 1px solid #ccc; float: left;">
    <a href="#openVet{{ vet.name }}Modal">
        {% if vet.img != "" %}
        <div class="img" style="background-image: url('/image/{{ vet.img }}'"></div>
        {% else %}
        <div class="img" style="background-image: url('/image/no_image.jpg')"></div>
        {% endif %}
    </a>
    <div id="openVet{{ vet.name }}Modal" class="vetDialog">
        <div id="modalWrapper">
            <a href="#closeVet" title="Close" class="close">X</a>
            <br><br>
            <div id="modalContent" class="modalContent">
                {% if vet.img != "" %}
                <img src="/image/{{ vet.img }}" alt="{{ vet.name }}"/>
                {% else %}
                <img src="/image/no_image.jpg" alt="No Image"/>
                {% endif %}
                <h3>{{ vet.name }}</h3>
                <p>{{ vet.bio }}</p>
                <p>Branch: {{ vet.branch }}</p>
                <p>Graduating Year: {{ vet.year }}</p>
            </div>
        </div>
    </div>
    <div class="desc">{{ vet.name }}</div>
</div>
{% endfor %}
{% else %}
<h5>Nothing here right now.</h5>
{% endif %}
{% endblock %}

