{% extends "base.html" %}
{% block head %}
    <title>New</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<nav id="navbar">
    <ul>
        <li><a href="/">Featured</a></li>
        <li><a href="/vets/">List</a></li>
        <li><a href="/admin/edit/" class="active">Edit</a></li>
        <li class="lo"><a class="logout" href="{{ logout }}">Log Out</a></li>
    </ul>
</nav><br>
<a id="admin" href="/admin/edit">Back</a><br><br>
<form action="/admin/new/" method="POST">
    Name:<br>
    <input type="text" name="name"><br>
    Biography:<br>
    <textarea name="bio" rows="10" cols="30"></textarea><br>
    <select name="branch">
        {% for branch in branches %}
        <option value="{{ branch }}" selected>{{ branch }}</option>
        {% endfor %}
    </select><br>
    <select name="year">
        {% for yr in yrs %}
        <option value="{{ yr }}" selected>{{ yr }}</option>
        {% endfor %}
    </select><br>
    <input type="checkbox" id="featured" name="feat">
    <label for="featured">Featured</label><br>
    Veteran Image:<br>
    <input type="file" name="file" accept="image/*"><br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}