{% extends "base.html" %}
{% block head %}
    <title>New</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://use.fontawesome.com/53ac9b564e.js"></script>
    <script src="{{ url_for('static', filename='dropzone.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
<div class="container" style="text-align: center;">
    <br><h2>New</h2><br>
    <form action="/admin/new/" method="POST" enctype="multipart/form-data">
        <div id="otherform">
            Name:<br>
            <input type="text" name="name"><br><br>
            Biography:<br>
            <textarea name="bio" rows="10" cols="30"></textarea><br><br>
            Branch:<br>
            <select name="branch">
                {% for branch in branches %}
                <option value="{{ branch }}" selected>{{ branch }}</option>
                {% endfor %}
            </select><br><br>
            Graduating Year:<br>
            <select name="year">
                {% for yr in yrs %}
                <option value="{{ yr }}" selected>{{ yr }}</option>
                {% endfor %}
            </select><br><br>
            <input type="checkbox" id="featured" name="feat">
            <label for="featured">Featured</label><br><br>
            Veteran Image:<br>
            <input type="file" name="file" accept="image/*" id="file" onchange="readURL(this);">
            <label for="file" class="custom-file-upload" onchange="readURL(this);">
                <i class="fa fa-arrow-up" aria-hidden="true"></i> Upload
            </label><br><br>
                <img id="output-image"/><br>
            <a class="formbtn" href="/admin/edit/">Cancel</a>
            <input type="submit" class="formbtn" value="Submit" style="width: 150px;">
        </div>
    </form>
</div>

{% endblock %}