{% extends "base.html" %}
{% block head %}
    <title>{{ ppl.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<nav id="navbar">
    <ul>
        <li><a href="/">Featured</a></li>
        <li><a href="/vets/">List</a></li>
        <li><a href="/admin/edit/">Edit</a></li>
    </ul>
</nav><br>
<img src='/image/{{ ppl.img }}' alt="{{ ppl.name }}"/>
<h2>{{ ppl.name }}</h2>
<h3>{{ ppl.bio }}</h3>
<h3>Branch: {{ ppl.branch }}</h3>
<h3>Graduating Year: {{ ppl.year }}</h3>
{% endblock %}