{% extends "base.html" %}
{% block head %}
    <title>{{ ppl.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<br><br><div style="text-align: center; width: 75%; margin: 0 auto;">
    <img src='/image/{{ ppl.img }}' alt="{{ ppl.name }}"/>
    <h2>{{ ppl.name }}</h2>
    <h4>{{ ppl.bio }}</h4>
    <h4>Branch: {{ ppl.branch }}</h4>
    <h4>Graduating Year: {{ ppl.year }}</h4>
    <br><br>
</div>
{% endblock %}