{% extends "base.html" %}
{% block head %}
    <title>Veterans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='sorttable.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2>Veterans</h2>
<table id="vlist" style="width: 100%; cursor: pointer;" class="sortable">
    <thead>
    <tr style="background-color: #ebebeb;">
        <th>Name</th>
        <th>Graduating Year</th>
        <th>Branch</th>
    </tr>
    </thead>
    <tbody>
    {% for vet in ppl %}
    <tr onclick="location.href='#openVet{{ vet.name }}Modal'"><!--onclick="location.href='/vets/{{ vet.id }}'">-->
        <td>{{ vet.name }}</td>
        <td>{{ vet.year }}</td>
        <td>{{ vet.branch }}</td>
    </tr>
    <div id="openVet{{ vet.name }}Modal" class="vetDialog">
        <div id="modalWrapper">
            <a href="#closeVet" title="Close" class="close">X</a><br><br>
            {% if vet.img != "" %}
            <img src="/image/{{ vet.img }}" alt="{{ vet.name }}"/>
            {% else %}
            <img src="/image/no_image.jpg" alt="No Image"/>
            {% endif %}
            <h3>{{ vet.name }}</h3>
            <h4>{{ vet.bio }}</h4>
            <h4>Branch: {{ vet.branch }}</h4>
            <h4>Graduating Year: {{ vet.year }}</h4>
        </div>
    </div>
    {% endfor %}
    </tbody>
</table>
{% endblock %}