{% extends "base.html" %}
{% block head %}
    <title>Veterans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='sorttable.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<nav id="navbar">
    <ul>
        <li><a href="/">Featured</a></li>
        <li><a href="/vets/" class="active">List</a></li>
        {% if session['logged_in'] %}
        <li><a href="/admin/edit/">Edit</a></li>
        <li class="lo"><a class="logout" href="/admin/logout/">Log Out</a></li>
        {% endif %}
    </ul>
</nav><br>
<h2>Veterans</h2>
<table id="vlist" style="width: 100%; cursor: pointer;" class="sortable">
    <thead>
    <tr style="background-color: #ebebeb;">
        <th>Name</th>
        <th>Graduating Year</th>
        <th>Branch</th>
    </tr>
    </thead>
    <tbody>
    {% for vet in ppl %}
    <tr onclick="location.href='/vets/{{ vet.id }}'">
        <td>{{ vet.name }}</td>
        <td>{{ vet.year }}</td>
        <td>{{ vet.branch }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}